@import "compass/css3";

$bg: #f1f1f1;
$orange:#f99d24;
$textColor:#222;
* {
  @include box-sizing(border-box);
}
html {
  width:100%;
  height:100%;
}
body {
  background:$bg;
  font-size:90%;
  color:$textColor;
  font-family: 'Raleway', sans-serif;
  width:100%;
  height:100%;
  min-height:100%;
  @include display-box;
  @include box-align(center);
  @include box-pack(center);
}

h1 {
  position:absolute;
  top:0.5em;
  right:0.5em;
  font-size:3em;
  font-weight:bold;
  color:rgba($textColor,0.3);
  a {
    font-size:0.3em;
    display:block;
    color:rgba($textColor,0.3);
    text-align:right;
    text-transform:uppercase;
    margin-top:0.5em;
  }
}

input, select, textarea {
  font-family: 'Raleway', sans-serif;
  background:rgba(white,0.65);
  border:none;
  padding:0.35em 0.5em;
  margin:0;
  float:right;
  position:relative;
}
input[type=text],select, input[type=number]{
  font-size:1em;
}
input[type=range] {
  width:7em;
  &:before, &:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    position:absolute;
    font-size:1.2em;
    color:rgba(#222,0.1);
    top:0.3em;
  }
  &:before {
    content:"\f010";
    left:-1em;
  }
  &:after {
    content:"\f00e";
    right:-1em;
  }
}
input[type=checkbox] { margin-top:0.5em;}


label {
  display:block;
  margin-bottom:0.5em;
  font-weight:bold;
  vertical-align:middle;
  line-height:2;
  padding:0.2em;
}
a {
  text-decoration:none;
  color:complement($orange);
  &:hover {color:$orange;}
}

textarea {
  width:100%;
  min-height:7em;
}

fieldset {
  padding:1em 0;
  margin:0 0 0.5em;
  padding:1em;
  width:100%;
  display:block;
  border-radius:0.2em;
  border:1px solid #e3e3e3;
  background:rgba(#f5f5f5,0.8);
  border-radius:0.25em;
}

.controls {
  width:22em;
  min-height:100%;
  padding:0.5em 0.7em;
  position:absolute;
  z-index:100;
  top:0;
  left:0;
}
.static {
  width:100%;
  .map {
    display:block;
    margin:1em auto;
    @include transition(all 1s linear);
  }
}

[data-toggle=popover]{
  cursor:help;
  color:lighten($textColor,50%);
  @include transition(color .5s);
  &:hover {
    color:$textColor;
    @include transition(color .5s);
  }
}

//
// Popovers
// --------------------------------------------------

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}

.popover.right {
  margin-left: 10px;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 1em;
  font-weight: normal;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
  color:#222;
  font-weight:400;
  font-size:0.9em;
  line-height:1.6;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.twitter-share-button {
  margin-top:0.2em;
}

@media (max-width:50em) {
  .pull-right,.pull-left {float:none !important;}
  h1 {
    position:relative;
    text-align:center;
    margin-bottom:1em;
    a {text-align:center;}

  }
  .controls {
    width:100%;
    position:relative;
  }
  .map {max-width:100%;}
}

@media (max-width:30em) {
  h1 {
    font-size:2em;
    a {font-size:0.5em;}
  }
}