<input id="about" name="tab" type="radio" class="tab-input">
<label for="about" class="tab-link">About</label>
<div id="tab-about" class="tab">
<p>You can add a static map to any website with simple HTML and no JavaScript. Using URL parameters, you can describe the type of map that you want and {{ page.title }} will send it back.</p>
<p>The Static Map Maker helps you configure the {{ page.title }} API parameters and gives you the code in real time.</p>
<p>Check out the <a href="{{ page.link }}">Static Maps API by {{page.title}}</a>.</p>
<p>Create a <a href="/bing">Bing</a>, <a href="/google">Google</a>, <a href="/mapbox">Mapbox</a>, or <a href="/mapquest">MapQuest</a> static map.</p>
</div>
