<input id="usage" name="tab" type="radio" class="tab-input">
<label for="usage" class="tab-link">How to use</label>
<div id="tab-usage" class="tab">
<ol>
{% if page.title == 'Mapbox' %}<li>You need a <a href="https://www.mapbox.com/">Mapbox account</a> to generate a style URL and to get a public API token.</li>{% endif %}
{% if page.title == 'MapQuest' %}<li>You'll need to grab your <a href="https://developer.mapquest.com/">MapQuest API token</a>.</li>{% endif %}
{% if page.title == 'Bing' %}<li>You'll need to grab your <a href="{{page.docs-maps}}">Bing API token</a>.</li>{% endif %}
{% if page.title == 'Google' %}<li>You must create an <a href="https://developers.google.com/maps/documentation/maps-static/get-api-key#get-an-api-key">API Key</a> to use Google Static maps</li>{% endif %}
<li>Customize the fields to build your map.</li>
<li>The &ldquo;Code&rdquo; tab contains the code for your map including examples.</li>
<li>Copy and paste the code into your HTML document or a stylesheet.</li>
{% if page.title == 'Mapbox' %}<li><a href="https://www.mapbox.com/help/attribution/">Attribute</a> the OpenStreetMap contributors and Mapbox on your website.</li>{% endif %}
</ol>
</div>
