<input id="usage" name="tab" type="radio" class="tab-input">
<label for="usage" class="tab-link">How to Use</label>
<div id="tab-usage" class="tab">
<ol>
{% if page.title == 'Mapbox' %}<li>You need a <a href="https://www.mapbox.com/">Mapbox account</a> to generate a map ID and to get a public API token.</li>{% endif %}
{% if page.title == 'MapQuest' %}<li>You'll need to grab your <a href="http://developer.mapquest.com/">MapQuest API token</a>.</li>{% endif %}
{% if page.title == 'Bing' %}<li>You'll need to grab your <a href="{{page.docs-maps}}">Bing API token</a>.</li>{% endif %}
{% if page.title == 'Google' %}<li>If your site receives high traffic then you may need an <a href="https://console.developers.google.com/">API key</a> to create your map. <a href="https://developers.google.com/maps/documentation/staticmaps/?csw=1#Limits">Read more about Google&rsquo;s usage limits.</a></li>{% endif %}
<li>Customize the fields to build your map.</li>
<li>The &ldquo;Code&rdquo; tab contains the code for your map including examples.</li>
<li>Copy and paste the code into your HTML document or a stylesheet.</li>
{% if page.title == 'Mapbox' %}<li><a href="https://www.mapbox.com/about/maps/">Attribute</a> the OpenStreetMap contributors on your website for the static map.</li>{% endif %}
</ol>
</div>
