---
layout: front-page
---
<div class="cover">
<h2>Which static map API do you want to use? {% include svg/icon.svg %}</h2>
</div>
<div class="choices">
{% for page in site.posts reversed sort:title %}{% if page.title %}
<a href="{{site.url}}{{ page.url }}" class="choose-map">
<div class="choose-map-example"><img src="{{site.url}}/img/{{page.title | downcase}}.png" alt="{{page.title}} static map API"></div>
<div class="choose-map-title">{{page.title}}</div>
</a>
{% endif %}{% endfor %}
<span class="choose-map">{% include ad.html %}</span>
</div>
