<div class="controls">
<div class="container">
<form>
{% if page.title == 'Google' %}
<fieldset>
<div class="form-group">
<label for="location" class="cushion">Location <i class="fa fa-question-circle" data-toggle="popover" data-content="Try an address, a city, a place, or even latitude and longitude."></i></label>
<div class="form-control"><input type="text" ng-model="base.location" id="location"></div>
</div>
<div class="form-group">
<label for="api" class="cushion">
<a href="https://code.google.com/apis/console/" target="_blank">API Key</a>
<i class="fa fa-question-circle" data-toggle="popover" data-content="You don't always need an API Key for Static Maps, but it's easy to acquire one. Without a key you might receive an error image instead of a map. Follow the link to the API Console."></i></label>
<div class="form-control"><input type="text" ng-model="base.API" id="api" ng-init="base.API=''" placeholder="API Key"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="zoom">Zoom</label>
<div class="form-control"><input type="range" name="input" ng-model="base.zoom" min="[[base.minZoom]]" max="[[base.maxZoom]]" id="zoom"></div>
</div>
<div class="form-group">
<label for="scale">Scale (2x) <i class="fa fa-question-circle" data-toggle="popover" data-content="Scale will double the stated height and width. This is good for when you need a width or height larger than 640px."></i>
</label>
<div class="form-control"><input type="checkbox" ng-model="scale" ng-true-value="2" ng-false-value="1" id="scale" ng-init="scale='false'"></div>
</div>
<div class="form-group">
<label for="width" class="cushion">Width <i class="fa fa-question-circle" data-toggle="popover" data-content="Maximum width is 640px or 1280px when scale 2x."></i></label>
<div class="form-control"><input type="number" ng-model="base.width" min="0" max="[[base.maxSize]]" id="width"></div>
</div>
<div class="form-group">
<label for="height" class="cushion">Height <i class="fa fa-question-circle" data-toggle="popover" data-content="Maximum height is 640px or 1280px when scale 2x."></i>
</label>
<div class="form-control"><input type="number" ng-model="base.height" min="0" max="[[base.maxSize]]" id="height"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="showMarker">Add a map marker?</label>
<div class="form-control"><input type="checkbox" ng-model="showMarker" ng-true-value="true" ng-false-value="false" id="showMarker"></div>
</div>
<ng-switch on="showMarker">
<ng-switch ng-switch-when="true">
<div class="form-group">
<label for="markerColor">Marker color</label>
<div class="form-control"><input ng-model="base.markerColor" type="color" id="markerColor">
</select></div>
</div>
<div class="form-group">
<label for="markerSize">Marker size</label>
<div class="form-control"><select ng-model="base.markerSize"
ng-options="markerSize.value as markerSize.text for markerSize in markerSizes" id="markerSize">
</select></div>
</div>
<ng-switch on="base.markerSize">
<ng-switch ng-switch-when="mid">
<div class="form-group">
<label for="markerSize">Marker label</label>
<div class="form-control"><input ng-model="base.markerLabel" type="text" id="markerLabel" maxlength="1" placeholder="Single digit or letter." capitalize></div>
</div>
</ng-switch>
</ng-switch>
<div class="form-group">
<label for="autoCenter">Auto-center map?</label>
<input type="checkbox" ng-model="base.autoCenter" id="autoCenter" ng-true-value="true" ng-false-value="false">
</div>

</ng-switch>
</ng-switch>
</fieldset>
<fieldset>
<div class="form-group">
<label for="mapType">Map type</label>
<div class="form-control"><select ng-model="base.mapType"
ng-options="mapType for mapType in mapTypes" id="mapType">
</select></div>
</div>
<div class="form-group">
<label for="format">Image format</label>
<div class="form-control"><select ng-model="base.format"
ng-options="format for format in formats" id="format">
</select></div>
</div>
</fieldset>
{% else %}
<fieldset>
<div class="form-group">
<label for="mapid" class="cushion"><a href="https://www.mapbox.com/projects/">Map ID</a> <i class="fa fa-question-circle" data-toggle="popover" data-content="Which one of your projects, styles, or data would you like to work with? Enter the map id here."></i></label>
<div class="form-control"><input type="text" ng-model="base.mapID" id="mapid" placeholder="Map ID"></div>
</div>
<div class="form-group">
<label for="api" class="cushion">
<a href="https://www.mapbox.com/account/apps/" target="_blank">Public API token</a>
<i class="fa fa-question-circle" data-toggle="popover" data-content="You need a public API token to access the Mapbox static API. Follow the link to access your public token."></i></label>
<div class="form-control"><input type="text" ng-model="base.API" id="api" placeholder="Public API Key"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="width" class="cushion">Width <i class="fa fa-question-circle" data-toggle="popover" data-content="The maximum size for a static map image is 1280x1280. This absolute pixel size limit does not change when using the @2x suffix making the max size for retina images 640x640."></i></label>
<div class="form-control"><input type="number" ng-model="base.width" min="0" max="[[ base.format !== '@2x.png' && base.maxSize || '640' ]]" id="width"></div>
</div>
<div class="form-group">
<label for="height" class="cushion">Height <i class="fa fa-question-circle" data-toggle="popover" data-content="The maximum size for a static map image is 1280x1280. This absolute pixel size limit does not change when using the @2x suffix making the max size for retina images 640x640."></i>
</label>
<div class="form-control"><input type="number" ng-model="base.height" min="0" max="[[ base.format !== '@2x.png' && base.maxSize || '640' ]]" id="height"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<h2>Data</h2>
<div class="form-group">

  <div class="form-group">
    <label for="auto">Auto adjust the map to data? <i class="fa fa-question-circle" data-toggle="popover" data-content="Make the map fit all the data from your mapid or the GeoJSON you enter below. Uncheck to manually enter coordinates and a zoom."></i></label>
    <div class="form-control"><input type="checkbox" ng-model="base.auto" ng-init="base.auto='true'" ng-true-value="true" ng-false-value="false" id="auto" ng-change="showMarker = !true"></div>
  </div>
<div ng-hide="base.auto=='true'">
<div clas="form-control">
<label for="location" class="cushion">Location <i class="fa fa-question-circle" data-toggle="popover" data-content="Enter the longitude and latitude of the location."></i></label>
  <div class="form-control"><input type="text" ng-model="base.location" id="location"></div>
</div>
<div class="form-group">
  <label for="zoom">Zoom</label>
  <div class="form-control"><input type="range" name="input" ng-model="base.zoom" min="[[base.minZoom]]" max="[[base.maxZoom]]" id="zoom"></div>
</div>
</div>


<div class="form-group" ng-hide="geojson !='' || base.auto == 'true'">
  <label for="showMarker">Add a marker?</label>
  <div class="form-control"><input type="checkbox" ng-model="showMarker" ng-true-value="true" ng-false-value="false" id="showMarker"></div>
</div>
<ng-switch on="showMarker">
  <ng-switch ng-switch-when="true">
    <div class="form-group">
      <label for="markerColor">Marker color</label>
      <div class="form-control"><input ng-model="base.markerColor" type="color" id="markerColor"></div>
    </div>
    <div class="form-group">
      <label for="markerLabel">Marker label</label>
      <div class="form-control"><select ng-model="base.markerLabel" ng-options="label for label in labels" id="markerLabel">
      </select></div>
    </div>
    <div class="form-group">
      <label for="markerSize">Marker size</label>
      <div class="form-control"><select ng-model="base.markerSize" ng-options="markerSize.value as markerSize.text for markerSize in markerSizes" id="markerSize">
      </select></div>
    </div>
  </ng-switch>
</ng-switch>


<div class="form-group" ng-hide="showMarker=='true'">
<label for="geojson">GeoJSON</label>
<textarea id="geojson" name="geojson" ng-model="geojson" rows="3" ng-init="geojson=''"></textarea>
</div>


</fieldset>
<fieldset>
<div class="form-group">
<label for="format">Format</label>
<div class="form-control"><select ng-model="base.format" ng-options="format for format in formats" id="format">
</select></div>
</div>
</fieldset>
{% endif %}
</form>
</div>
</div>
