<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }} {{ site.name }} | a static map API helper</title>
<meta name="description" content="{% if page.url contains 'google' or page.url contains 'mapbox' %}Create a {{ page.title }} static map with {{ site.name }}. Type in a location, customize, and get the map.{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@katydecorah">
<meta name="twitter:title" content="{{ site.name }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:creator" content="@katydecorah">
<meta name="twitter:domain" content="{{ site.url }}">
<link href="{{ site.url }}/css/main.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Oxygen+Mono' rel='stylesheet' type='text/css'>
<!--[if IE 8]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
</head>
