{% if page.title == 'Google' %}<!--/////// Google -->
{% capture mapcode %}http://maps.googleapis.com/maps/api/staticmap[[ base.autoCenter == true && showMarker == true && '?' || '?center='+base.location.split(' ').join('+')+'&zoom='+base.zoom+'&' ]]scale=[[scale]]&size=[[base.width]]x[[base.height]]&maptype=[[base.mapType]]&sensor=false[[ base.API !== '' && '&key='+base.API || '' ]]&format=[[base.format]]&visual_refresh=true[[ showMarker == true && '&markers=size:'+base.markerSize+'%7Ccolor:'+base.markerColor.split('#').join('0x')+'%7Clabel:'+base.markerLabel+'%7C'+base.location.split(' ').join('+') || '' ]]{% endcapture %}
<img ng-src="{{ mapcode }}" alt="Google Map of [[base.location]]" class="static-map" id="map">
{% else %}<!--//////////////////////////// Mapbox -->
<ng-switch on="base.mapID">
  <ng-switch ng-switch-when="">
    <div class="alert">You need to enter a Mapbox map ID. <a href="https://www.mapbox.com/projects/">Go get it.</a></div>
  </ng-switch>
</ng-switch>
<ng-switch on="base.API">
  <ng-switch ng-switch-when="">
    <div class="alert">You need your Mapbox API token. <a href="https://www.mapbox.com/account/apps/">Go get it.</a></div>
  </ng-switch>
</ng-switch>

<div class="alert" ng-show="base.auto !=true && base.location == ''">You need to enter a location.</a></div>

{% capture mapcode %}http://api.tiles.mapbox.com/v4/[[ base.mapID ]][[ geojson != '' && '/geojson('+geojson+')' || '' | nospace | escape ]][[ showMarker == true && '/pin-' + base.markerSize + '-' + base.markerLabel + '+' + base.markerColor.split('#').join('') + '(' + base.location + ')' || '' | nospace]]/[[ base.auto == true && 'auto' || base.location+','+base.zoom | nospace ]]/[[ base.width ]]x[[ base.height ]][[ base.format !== '@2x.png' && '.'+base.format || base.format ]]?access_token=[[ base.API ]]{% endcapture %}
<div ng-if="base.mapID != '' && base.API != ''">
  <img ng-src="{{ mapcode }}" alt="Mapbox map" class="static-map" id="map">
  {% include attribution.html %}
</div>
{% endif %}
