<div class="tabs">
<input id="code" name="tab" type="radio" class="tab-input" checked>
<label for="code" class="tab-link">Code</label>
<div id="tab-code" class="tab"><pre class="print-code"></pre></div>
<input id="usage" name="tab" type="radio" class="tab-input">
<label for="usage" class="tab-link">Usage</label>
<div id="tab-usage" class="tab">
<p>You can place the code in an <code>img</code> tag or use it as a <code>background-image</code>.</p>
<h2>HTML</h2>
<pre>&lt;img src="<span class="print-code"></span>" alt="Google Map of [[e.location]]"&gt;</pre>
<h2>CSS</h2>
<pre>
  {
    background-image: url(<span class="print-code"></span>);
  }
</pre>
</div>
