fieldset {
  color: $controls-color;
  display: block;
  width: 100%;

  &.error ~ fieldset:not(.error) {
    opacity: .25;
  }

}

.controls {
  background: $bg-dark;
  color: $light;
  padding-top: .5em;
  position: relative;
  z-index: 100;

  @include bp(no-columns) { width: 100%; }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: $gold;
    }

  }

}

.toggle,
.open-it {
  display: none;
}

[ng-show] .form-group,
[ng-hide] .form-group,
tr {
  background: rgba($light, .075);
}


// tables to lay out pushpins
table {
  border-collapse: collapse;

  input { min-width: 50px;}

}

tr {
  display: block;
  padding: 0 1em;
  width: 100%;
}

td {
  border-bottom: 1px solid rgba($dark, .2);
  min-height: 3em;
  padding: .5em .25em .25em;
}

.form-group {

  @extend %clearfix;

  border-bottom: 1px solid rgba($dark, .2);
  min-height: 3em;
  padding: .5em 1em .25em;

  @include bp(big-with-columns) {
    label {
      display: block;
      float: left;
      width: 40%;
    }

    .form-control {
      float: left;
      width: 60%;
    }

  }

  &.no-border { border-bottom: 0;}

  &:hover [data-toggle] {
    color: $light-gray;
  }


}

select,
.form-control {
  min-height: 2em;
}

.label-toggle {
  cursor: pointer;
  display: inline-block;
  left: 1em;
  position: absolute;
  top: .5em;

  &:hover path {
    fill: $bg-dark;
  }

  svg {
    height: 1.25em;
    width: 1.25em;
  }

  path {
    fill: rgba($text-color, .5);
  }

}

@include bp(no-columns) {

  .label-toggle { display: none;}

}


.toggle:checked {

  ~ .main .col-left {
    transform: translateX(-98%);
    transition: .2s;
    z-index: 1;
  }

  ~ .main .col-right,
  ~ .col-right {
    width: 100%;
  }

  ~ .main .close-it { display: none; }

  ~ .main .open-it { display: block; }

}

input,
select,
textarea {
  background: rgba($light, .9);
  border: 0;
  border-radius: $border-radius;
  font-family: $mono-font-family;
  font-size: 1em;
  margin: 0;
  padding: .35em .5em;
  position: relative;
  width: 100%;

  @include bp(big-with-columns) {
    float: left;
  }

  @include bp(mama-bear) {
    display: block;
  }

}

select {
  height: 2em;
}

[type="checkbox"] {
  width: auto;
}

.cushion,
[type="checkbox"] {
  margin-top: .3em;
}

.cushion-right {
  margin-right: .3em;
}




:focus {
  outline: $accent auto 5px;
}

.error {
  background: $danger;
}

.marker-title {

  @extend %clearfix;

  font-weight: bold;
  margin-bottom: .5em;

  button {
    background: none;
    color: $light;
    cursor: pointer;
    float: right;

    &:hover {
      background: rgba($dark, .5);
    }

  }

}

.marker-fields {

  input,
  select {
    margin-bottom: .5em;
  }

  .sm {
    display: block;
    float: left;
    height: 28px;
    width: 32.5%;

    &:nth-child(3) {
      margin: 0 1%;
    }

  }

}
