.front-page {

  .container {
    @extend %clearfix;

    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;

    .colophon {
      margin-bottom: 1em;
      margin-top: 2em;
    }

  }

}

.choices {
  @extend %clearfix;

  @include bp(with-columns) {
    margin-left: 50%;
  }

}

.choices,
.cover {
  padding: 0 5%;

  @include bp(with-columns) {
    float: left;
    width: 50%;
  }

}

.cover {

  @extend %flex;

  background: $bg-dark;

  @include bp(with-columns) {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  h2 {
    color: $light;
    font-size: 1.5em;
    text-align: center;

    @include bp(with-columns) {
      font-size: 2.5em;
    }

  }

  .header-icon {
    display: block;
    font-size: 2em;
    margin: .5em auto;
    
    path {
      fill: $gold;
    }

  }

}

.choose-map {
  background: $light;
  border: .5em solid transparent;
  border-radius: $border-radius;
  display: block;
  margin: 1em 0 .5em;
  position: relative;
  text-decoration: none;

  @include bp(with-columns) {
    float: left;
    width: 46%;
  }

  &:nth-of-type(2n+2) {

    @include bp(with-columns) {
      margin-left: 5%;
    }

  }


  &:hover {
    background: $gold;
    color: $light;
  }

  .choose-map-title {
    font-size: 1.5em;
    padding: .5em;
    text-align: center;
    width: 100%;

  }

  img {
    display: block;
    max-width: 100%;

    @include bp(no-columns) {
      display: none;
    }

  }

}

.main {

  @extend %clearfix;

  position: relative;

}

.col {
  position: relative;

}

header {
  padding: .5em 1em;
}

.header-icon {
  display: inline-block;
  font-size: 1.25em;
  height: 1em;
  position: relative;
  top: .2em;
  width: 1em;

  path {
    fill: $light;
  }

}

.switcher {
  color: $light;
  padding: 1em;
}

button {
  background: $gold;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-font-family;
  font-size: 1em;

  &:hover {
    background: lighten($gold, 10%);
  }

}

.btn {
  padding: .5em 1em;
}

.btn-remove {
  background: none;
  color: $light;
  cursor: pointer;
  position: relative;
  top: -10px;

  &:hover {
    background: rgba($dark, .5);
  }

}

.switch {
  background-color: $accent;
  color: $text-color;
  display: inline-block;
  margin: 0 .25em;
  padding: .3em .75em;
  text-decoration: none;

  @include bp(no-columns) {
    margin-top: 1em;
  }

  &:hover {
    background-color: lighten($accent, 10%);
    color: $text-color;
  }

}

.col-left {
  background: $bg-dark;
  transition: .2s;

  @include bp(with-columns) {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 5em;
    position: fixed;
    top: 0;
    width: 30%;
  }

}

.col-right {

  @include bp(with-columns) {
    float: right;
    transition: .2s;
    width: 70%;
  }

}


.static {
  background: $static-inner;
  padding: 2em 3.5em 5em;
}

.static-map {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  transition: 1s;
}
