@mixin bp($point) {
  @if $point == big-with-columns {
    @media (min-width: 900px) { @content; }
  } @else if $point == with-columns {
    @media (min-width: 650px) { @content; }
  } @else if $point == no-columns {
    @media (max-width: 650px)  { @content; }
  }
}

%clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }

}

%flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
