//
// Popovers
// --------------------------------------------------

[data-toggle=popover] {
  cursor: help;
}

.popover {
  background-clip: padding-box;
  background-color: $light;
  border: 1px solid $trasparent02;
  border-radius: 6px;
  box-shadow: 0 5px 10px $trasparent02;
  display: none;
  left: 0;
  max-width: 276px;
  padding: 1px;
  position: absolute;
  text-align: left;
  top: 0;
  white-space: normal;
  z-index: 1010;

  &.right {
    margin-left: 10px;

    .arrow {
      border-left-width: 0;
      border-right-color: $trasparent02;
      left: -11px;
      margin-top: -11px;
      top: 50%;
    }

    .arrow::after {
      border-left-width: 0;
      border-right-color: $light;
      bottom: -10px;
      left: 1px;
    }

  }

  .arrow,
  .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  .arrow {
    border-width: 11px;

    &::after {
      border-width: 10px;
      content: '';
    }

  }

}


.popover-content {
  color: $dark-gray;
  font-size: .9em;
  font-weight: 400;
  line-height: 1.6;
  padding: 9px 14px;
}
