.tabs {
  position: relative;
  width: 100%;
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  padding: 2em 1em;
}

.tab-input {display: none;}

.tab {
  background: white;
  display: none;
}


.tab-link {
  position: absolute;
  top: -2.35em;
  left: 1em;
  background: $static-inner;
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.25em 0.25em 0 0;
  &:nth-of-type(2) {
    left: 5.5em;
  }
  &:nth-of-type(3) {
    left: 12.5em;
  }
  &:hover {
    background: $accent;
  }
}

.tab-input:checked + label {
  cursor: default;
  background: $bg-body;
}

.tab-input:checked + label + .tab {
  display: block;
}
