.tabs {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  padding: 2em 1em;
  position: relative;
  width: 100%;
}

.tab-input {
  display: none;
}

.tab {
  display: none;
}

.tab-link {
  background: $static-inner;
  border-radius: $border-radius $border-radius 0 0;
  cursor: pointer;
  display: inline-block;
  left: 1em;
  padding: 0.5em 1em;
  position: absolute;
  top: -2.35em;

  &:nth-of-type(2) {
    left: 5.5em;
  }

  &:nth-of-type(3) {
    left: 12.8em;
  }

  &:hover {
    background: $accent;
  }
}

.tab-input:checked + label {
  background: $bg-body;
  cursor: default;

  + .tab {
    display: block;
  }
}
