h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 .5em;
}


h1 {
  color: $light;
  font-size: 1.5em;
  font-weight: normal;

  a {
    color: $light;
    text-decoration: none;

    &:hover {
      color: $gold;
    }

  }

}



h2 { font-size: 1.424em; }

h3 { font-size: 1.266em; }

p {
  margin: 0 0 1.3em;
  max-width: 44em;
}

li {
  max-width: 35em;
}

a {
  color: $link-color;

  &:hover {
    color: lighten($link-color, 10%);
    text-decoration: none;
  }

}

code,
pre {
  font-family: $mono-font-family;
  font-weight: $mono-font-weight;
}

pre {
  background: $light;
  border-left: 3px solid darken($bg-body, 15%);
  display: block;
  margin: 1em 0;
  padding: 1em;
  white-space: pre-wrap;
  word-break: break-all;

  &::selection {
    background: $accent;
  }

}

%small { font-size: .8em; }

.colophon {

  @extend %small;

  margin-bottom: 1em;
  margin-top: 3em;
}

.link {
  color: $light;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;
}

ol {
  margin-left: 1.25em;
}

.alert {
  background: $danger;
  color: $light;
  margin-bottom: 1em;
  max-width: 35em;
  padding: .5em 1em;

  a {
    color: $light;
    text-decoration: underline;
  }

}

.attribution {

  @extend %small;

  text-align: right;

  a { color: $text-color; }

}
