$light: #fff;
$light-gray: #ddd;
$dark: #000;
$dark-gray: #222;
$bg-body: #ebebeb;
$bg-dark: #2e3a5c;
$accent: #f1c40f;
$orange: #f99d24;
$text-color: $bg-dark;
$danger: darken($bg-dark, 10%);
$gold: #d5ae6c;
$static-inner: lighten($bg-body, 5%);
$controls-color: $light;
$control-inner: darken($bg-dark, 5%);
$sans-font-family: "proxima-nova-soft", sans-serif;
$font-weight: 400;
$font-size: 14px;
$font-small: 0.8em;
$mono-font-family: "courier-prime", "Courier New", monospace;
$mono-font-weight: 500;
$link-color: #287cb4;
$border-radius: 0.4em;

$trasparent02: rgba(0, 0, 0, 0.2);
