$bg-body:         #fff;
$bg:              #ecf0f1;
$bg-dark:         #285A98;
$accent:          #F1C40F;
$orange:          #f99d24;
$static-inner:    #F2F0ED;
$text-color:      #222;
$controls-color:  #fff;
$control-inner:   darken($bg-dark,5%);
$sansFontFamily:  'proxima-nova-soft', sans-serif;
$font-weight:     400;
$font-size:       14px;
$monoFontFamily:  'courier-prime', 'Courier New', monospace;
$mono-font-weight: 500;
$link-color:      #287cb4;
