<style type="text/css">
  #atlist {
    width: 30%;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 1em .25em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #atlist-h5 {
    font-size: 17px;
    margin-bottom: 0;
  }

  #atlist-h5 a {
    color: #D5AE6B;
    text-decoration: underline;
  }

  #atlist-h2 {
    margin: 20px auto;
    font-size: 27px;
    max-width: 85%;
  }

  #atlist-h2 a {
    color: #fff;
    text-decoration: none;
  }

  #atlist-h2 a:hover {
    opacity: 0.8;
  }

  #atlist-cta {
    background: #D5AE6B;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 17px;
    margin: 20px 0;
    font-weight: 900;
  }

  #atlist-cta:hover {
    opacity: 0.8;
    color: #fff;
  }

  @media screen and (max-height: 930px) {
    #atlist {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    #atlist {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
    }
  }
</style>
<div id="atlist">
  <h5 id="atlist-h5">Need a more powerful map? Try <a href="https://www.atlistmaps.com/?c=staticmapmaker">Atlist</a>.
  </h5>
  <h2 id="atlist-h2"><a href="https://www.atlistmaps.com/?c=staticmapmaker">The easy way to create custom Google Maps
      with multiple markers.</a></h2><a href="https://www.atlistmaps.com/?c=staticmapmaker" id="atlist-cta">Try Atlist
    →</a>
</div>