<style type="text/css">
  #atlist {
    width: 30%;
    padding: 20px 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #1d253a;
  }

  #atlist-h5 {
    font-size: 17px;
    margin-bottom: 0;
    color: #fff;
  }

  #atlist-h5 a {
    color: #d5ae6b;
    text-decoration: underline;
  }

  #atlist-h2 {
    margin: 20px auto;
    font-size: 27px;
    max-width: 85%;
  }

  #atlist-h2 a {
    color: #fff;
    text-decoration: none;
  }

  #atlist-h2 a:hover {
    opacity: 0.8;
  }

  #atlist-cta {
    background: #d5ae6b;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 900;
    color: #222;
  }

  #atlist-cta:hover {
    background: #e0c494;
  }

  @media screen and (max-height: 930px) {
    #atlist {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    #atlist {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
    }
  }
</style>
<div id="atlist">
  <h5 id="atlist-h5">
    Need a more powerful map? Try
    <a href="https://www.atlistmaps.com/?c=staticmapmaker">Atlist</a>.
  </h5>
  <h2 id="atlist-h2">
    <a href="https://www.atlistmaps.com/?c=staticmapmaker"
      >The easy way to create custom Google Maps with multiple markers.</a
    >
  </h2>
  <a href="https://www.atlistmaps.com/?c=staticmapmaker" id="atlist-cta"
    >Try Atlist →</a
  >
</div>
