<fieldset>
<div class="form-group" ng-hide="base.autoCenter">
<label for="location" class="cushion" data-toggle="popover" data-content="Try an address, a city, a place, or even latitude and longitude.">Location</label>
<div class="form-control"><input type="text" ng-model="base.location" id="location"></div>
</div>
<div class="form-group">
<label for="api" class="cushion" data-toggle="popover" data-content="You don't always need an API Key for Static Maps. Without a key you might receive an error image instead of a map if you go over the limit. Follow the link to the API Console.">
<a href="https://code.google.com/apis/console/" target="_blank">API Key</a></label>
<div class="form-control"><input type="text" ng-model="base.API" id="api" ng-init="base.API=''" placeholder="API Key (optional)"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group" ng-hide="base.autoCenter">
<label for="zoom">Zoom</label>
<div class="form-control"><input type="range" name="input" ng-model="base.zoom" min="[[base.minZoom]]" max="[[base.maxZoom]]" id="zoom" ng-disabled="base.autoCenter == true"></div>
</div>
<div class="form-group">
<label for="scale" data-toggle="popover" data-content="Double the height and width.">Retina (2x)</label>
<div class="form-control"><input type="checkbox" ng-model="scale" ng-true-value="2" ng-false-value="1" id="scale" ng-init="scale='false'"></div>
</div>
<div class="form-group">
<label for="width" class="cushion" data-toggle="popover" data-content="Maximum width is 640px or 1280px when scale 2x.">Width</label>
<div class="form-control"><input type="number" ng-model="base.width" min="0" max="[[base.maxSize]]" id="width"></div>
</div>
<div class="form-group">
<label for="height" class="cushion" data-toggle="popover" data-content="Maximum height is 640px or 1280px when scale 2x.">Height</label>
<div class="form-control"><input type="number" ng-model="base.height" min="0" max="[[base.maxSize]]" id="height"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group" ng-show="pushpinSet()">
<label for="autoCenter">Auto-center map?</label>
<input type="checkbox" ng-model="base.autoCenter" id="autoCenter" ng-true-value="true" ng-false-value="false">
</div>
<div ng-repeat="marker in markers.pushpins">
<div class="form-group">
<div class="marker-title">Marker [[marker.coordinates]] <button class="pull-right" ng-click="removePushpin($index)">&times;</button></div>
<div class="marker-fields">
<input type="text" ng-model="marker.coordinates" placeholder="Address or coordinates">
<select ng-model="marker.markerLabel" ng-disabled="marker.markerSize != 'mid'" ng-hide="marker.markerCustom" placeholder="size" ng-options="markerLabel for markerLabel in markerLabels" id="markerLabel" class="sm"></select>
<input ng-model="marker.markerColor" ng-hide="marker.markerCustom" value="marker.markerColor" type="color" id="markerColor" class="sm">
<select ng-model="marker.markerSize" ng-hide="marker.markerCustom" placeholder="size" ng-options="markerSize.value as markerSize.text for markerSize in markerSizes" id="markerSize" class="sm"></select>
<input ng-model="marker.markerCustom" value="marker.markerCustom" type="text" id="markerCustom" class="" placeholder="Or a custom marker URL (max 64x64)">
<div ng-show="marker.markerCustom">
<label for="markerShadow" class="cushion" data-toggle="popover" data-content="Maximum width is 640px or 1280px when scale 2x.">Marker shadow?</label>
<div class="form-control"><input ng-model="marker.markerShadow" value="marker.markerShadow" type="checkbox" id="markerShadow">
</div>
</div>
</div>
</div>
</div>
<div class="form-group" style="background:none;">
<button ng-click="addPushpin()" class="btn">Add a marker</button>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="mapType">Map type</label>
<div class="form-control"><select ng-model="base.mapType"
ng-options="mapType for mapType in mapTypes" id="mapType">
</select></div>
</div>
<div class="form-group">
<label for="format">Image format</label>
<div class="form-control"><select ng-model="base.format"
ng-options="format for format in formats" id="format">
</select></div>
</div>
</fieldset>
