<fieldset class="[[ base.API && base.code_id && ' ' || 'error' ]]">
<div class="form-group">
<label for="api" class="cushion">
<a href="https://developer.here.com/rest-apis/documentation/map-image/common/credentials.html" target="_blank">App ID</a></label>
<div class="form-control"><input type="text" ng-model="base.API" id="api" placeholder="App ID (required)"></div>
</div>
<div class="form-group">
<label for="code_id" class="cushion">
<a href="https://developer.here.com/rest-apis/documentation/map-image/common/credentials.html" target="_blank">Code ID</a></label>
<div class="form-control"><input type="text" ng-model="base.code_id" id="code_id" placeholder="Code ID (required)"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="location" class="cushion" data-toggle="popover" data-content="Enter the location">Location</label>
<div class="form-control"><input type="text" ng-model="base.location" id="location"></div>
</div>
</fieldset>

<fieldset>
<div class="form-group">
<label for="width" class="cushion">Width</label>
<div class="form-control"><input type="number" ng-model="base.width" min="0" max="2048" id="width"></div>
</div>
<div class="form-group">
<label for="height" class="cushion">Height</label>
<div class="form-control"><input type="number" ng-model="base.height" min="0" max="2048" id="height"></div>
</div>

<div class="form-group">
<label for="zoom">Zoom</label>
<div class="form-control"><input type="range" name="input" ng-model="base.zoom" min="[[base.minZoom]]" max="[[base.maxZoom]]" id="zoom"></div>
</div>

<div class="form-group">
<label for="u">Radius</label>
<div class="form-control marker-fields">
<input min="0" type="number" name="input" class="sm" ng-model="base.u" id="u">
<select ng-disabled="!base.u" ng-model="base.distances" ng-options="id.value as id.text for id in distances" id="distances" class="sm" style="margin-left: 2%"></select>
</div>
</div>

<div class="form-group">
<label for="format">Format</label>
<div class="form-control"><select ng-model="base.format" ng-options="id.value as id.text for id in formats" id="format">
</select></div>
</div>

<div class="form-group">
<label for="flag">Map header</label>
<div class="form-control"><input type="checkbox" ng-model="base.flag" id="flag"></div>
</div>
<div class="form-group">
<label for="nodot">Hide the dot?</label>
<div class="form-control"><input type="checkbox" ng-model="base.nodot" id="nodot"></div>
</div>
<div class="form-group">
<label for="language">Map language</label>
<div class="form-control"><select ng-model="base.language" ng-options="id.value as id.text for id in languages" id="language"></select></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="style">Map style</label>
<div class="form-control"><select ng-model="base.style" ng-options="style for style in styles" id="style"></select></div>
</div>
<div class="form-group">
<label for="rotation">Map rotation</label>
<div class="form-control"><input type="range" min="0" max="360" ng-model="base.rotation"  id="rotation"></div>
</div>
</fieldset>