<fieldset>
<div class="form-group[[ base.API && ' ' || ' error' ]]">
<label for="api" class="cushion" data-toggle="popover" data-content="You need an API key to access MapQuest maps. Follow the link to the API Console.">
<a href="http://developer.mapquest.com/" target="_blank">API Key</a></label>
<div class="form-control"><input type="text" ng-model="base.API" id="api" placeholder="API Key (required)"></div>
</div>
<div class="form-group">
<label for="location" class="cushion" data-toggle="popover" data-content="Try an address, a city, a place, or even latitude and longitude.">Location</label>
<div class="form-control"><input type="text" ng-model="base.location" id="location"></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="zoom">Zoom</label>
<div class="form-control"><input type="range" name="input" ng-model="base.zoom" min="[[base.minZoom]]" max="[[base.maxZoom]]" id="zoom"></div>
</div>
<div class="form-group">
<label for="width" class="cushion" data-toggle="popover" data-content="Maximum width is 3840px.">Width</label>
<div class="form-control"><input type="number" ng-model="base.width" min="0" max="[[base.maxSize]]" id="width"></div>
</div>
<div class="form-group">
<label for="height" class="cushion" data-toggle="popover" data-content="Maximum height is 3840px.">Height</label>
<div class="form-control"><input type="number" ng-model="base.height" min="0" max="[[base.maxSize]]" id="height"></div>
</div>
</fieldset>

<fieldset>
<div class="form-group">
<label for="showMarker">Add a map marker?</label>
<div class="form-control"><input type="checkbox" ng-model="showMarker" id="showMarker"></div>
</div>
<div ng-show="showMarker">
<div class="form-group">
<label for="markerColor">Marker color</label>
<div class="form-control"><select ng-model="base.markerColor" ng-options="color for color in colors" id="markerColor">
</select></div>
</div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="scaleBar">Show the scalebar?</label>
<div class="form-control"><input type="checkbox" ng-model="base.scaleBar" id="scaleBar"></div>
</div>
<div ng-show="base.scaleBar">
<div class="form-group">
<label for="scaleBarPos">Scalebar position</label>
<div class="form-control"><select ng-model="base.scalebarPos"
  ng-options="position for position in positions" id="scaleBarPos">
</select></div>
</div>
</div>
<div class="form-group">
<label for="mapType">Map type</label>
<div class="form-control"><select ng-model="base.mapType"
ng-options="mapType.value as mapType.text for mapType in mapTypes" id="mapType">
</select></div>
</div>
<div class="form-group">
<label for="format">Image format</label>
<div class="form-control"><select ng-model="base.format"
ng-options="format for format in formats" id="format">
</select></div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label for="showTraffic">Show traffic?</label>
<div class="form-control"><input type="checkbox" ng-model="base.showTraffic" id="showTraffic"></div>
</div>
<div ng-show="base.showTraffic">
<div class="form-group">
<label for="traffic">Traffic type</label>
<div class="form-control"><select ng-model="base.traffic" ng-options="traffic.value as traffic.text for traffic in traffics" id="traffic">
</select></div>
</div>
</div>
</fieldset>
