<div class="alert" ng-show="base.auto !=true && base.location == ''">You need to enter a location.</a></div>

{% capture mapcode %}http://api.tiles.mapbox.com/v[[ base.API != '' && '4' || '3' ]]/[[ base.mapID != '' && base.mapID || '{{site.mapboxMapID}}' ]][[ geojson != '' && '/geojson('+geojson+')' || '' | nospace | escape ]][[ showMarker == true && '/pin-' + base.markerSize + '-' + base.markerLabel + '+' + base.markerColor.split('#').join('') + '(' + base.location + ')' || '' | nospace]]/[[ base.auto == true && 'auto' || base.location+','+base.zoom | nospace ]]/[[ base.width ]]x[[ base.height ]][[ base.format !== '@2x.png' && '.'+base.format || base.format ]][[ base.API != '' && '?access_token=' + base.API || '' ]]{% endcapture %}


<img ng-src="{{ mapcode }}" alt="Mapbox map" class="static-map" id="map">
<div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">&copy; Mapbox &copy; OpenStreetMap</a></div>

{% assign mapcode = mapcode | replace: {{site.mapboxMapID}},"YOUR-MAP-ID-HERE" %}
