<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<html lang="en">
{% include head.html %}
<body ng-app="staticMapMaker">
{% include header.html %}
<div class="main" ng-controller="{{ page.title | downcase }}Controller">
<div class="col-left col">
{% include toggle.html %}
{% if page.title == 'Google' %}{% include controls.html %}{% else %}{% include controls-mb.html %}{% endif %}
</div>
<div class="col-right col">
<div class="static">
{% if page.title == 'Google' %}{% include map.html %}{% else %}{% include map-mb.html %}{% endif %}
</div>
{% include tabs.html %}
</div>
</div>
{% include footer.html %}
</body>
</html>
