<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.url != '/' %}{{ page.title }} {% endif%}{{ site.name }} | a static map API helper</title>
<meta name="description" content="{% if page.title %}Create a {{ page.title }} static map with {{ site.name }}.{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- twitter-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.author.twitter}}">
<meta name="twitter:title" content="{{site.name}}">
<meta name="twitter:description" content="{% if page.title %}Create a {{ page.title }} static map with {{ site.name }}.{% else %}{{ site.description }}{% endif %}">
{% if page.title %}<meta name="twitter:image" content="{{site.url}}/img/{{page.title | downcase}}.png">{% endif %}
<!-- facebook-->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}{{page.url | replace:'index.html',''}}" />
<meta property="og:title" content="{% if page.title %}{{page.title}} - {% endif %}{{site.name}}" />
<meta property="og:site_name" content="{{site.name}}" />
<meta property="og:description" content="{% if page.title %}Create a {{ page.title }} static map with {{ site.name }}.{% else %}{{ site.description }}{% endif %}" />
{% if page.title %}
<meta property="og:image" content="{{site.url}}/img/{{page.title | downcase}}.png" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />{% endif %}
{% feed_meta %}
<link href="{{ site.url }}/css/main.css" rel="stylesheet">
{% if page.title %}<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/{{site.angularjs}}/angular.min.js'></script>{% endif %}
</head>
{{ content }}
<footer>
<script src="https://use.typekit.net/waj4zpx.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-44264627-1', 'auto');
ga('require', 'displayfeatures');
ga('send', 'pageview');
</script>
</footer>
</body>
</html>
