---
layout: default
---
<body ng-app="staticMapMaker" ng-cloak>
<input type="checkbox" class="toggle" id="toggle">
<div class="main" ng-controller="{{ page.title | capitalize }}Controller">
<div class="col-left col">
<header>
<h1><a href="{{site.url}}">{% include svg/icon.svg %} {{ page.title }} Static Map Maker</a></h1>
</header>
<div class="controls">
<div class="container">
<form>
{% for el in page.controls %}
<fieldset{% if el.hide %} ng-hide="{{el.hide}}"{% endif %}{% if el.show %} ng-show="{{el.show}}"{% endif %}{% if el.class %} class="{{el.class}}"{% endif %}>
  {% include form/{{el.include}}.html type=el.type id=el.id popover=el.popover label=el.label model=el.model placeholder=el.placeholder true=el.trueValue false=el.falseValues min=el.min max=el.max options=el.options disabled=el.disabled step=el.step html=el.html classInput=el.classInput %}
</fieldset>
{% endfor %}
{{content}}
{% assign apis = site.posts | sort: title %}<div class="form-group">Try another API:<br>{% for api in apis %}{% if api.title and api.title != page.title %}<a href="{{site.url}}{{api.url}}" class='api-link'>{{api.title}}</a> {% endif %}{% endfor %}</div>
</form>
</div><!-- /container -->
</div><!-- /controls -->
{% if page.title != 'Mapbox' %}
<div data-my-ad-sense>
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block; margin-top:1em; width: 370px; height: 50px;" data-ad-client="{{site.client}}" data-ad-slot="{{site.slot}}"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}
</div><!-- /col-left -->
<div class="col-right col">
<label for="toggle" class="label-toggle">{% include svg/arrow-left.svg %}{% include svg/arrow-right.svg %}</label>
<div class="static">
{% include map/{{ page.title | downcase }}.html %}
</div><!-- /static -->
<div class="tabs">
<form>
{% include tabs/code.html %}
{% include tabs/usage.html %}
{% include tabs/about.html %}
</form>
{% include colophon.html %}
</div><!-- /tabs -->
</div><!-- /col-right -->
</div><!-- /main -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/{{site.jquery}}/jquery.min.js'></script>
<script src="{{ site.url }}/js/bootstrap.js"></script>
<script src="{{ site.url }}/js/app.js"></script>
<script src="{{ site.url }}/js/{{page.title | downcase}}.js"></script>
<script>
$( document ).ready(function() {
	$("[data-toggle=popover]").popover({
		placement : 'right',
		trigger:'hover'
	});
});
</script>