---
layout: default
---
<body ng-app="staticMapMaker">
<input type="checkbox" class="toggle" id="toggle">
<div class="main" ng-controller="{{ page.title | downcase }}Controller">
<div class="col-left col">
<header>
<h1>{% include svg/icon.svg %} {{ page.title }} Static Map Maker</h1>
</header>
<div class="controls">
<div class="container">
<form>
{% include controls/{{ page.title | downcase }}.html %}
</form>
</div><!-- /container -->
</div><!-- /controls -->
</div><!-- /col-left -->
<div class="col-right col">
<label for="toggle" class="label-toggle">{% include svg/arrow-left.svg %}{% include svg/arrow-right.svg %}</label>
<div class="static">
{% include map/{{ page.title | downcase }}.html %}
</div><!-- /static -->
<div class="tabs">
<form>
{% include tabs/code.html %}
{% include tabs/usage.html %}
{% include tabs/about.html %}
</form>
{% include colophon.html %}
</div><!-- /tabs -->
</div><!-- /col-right -->
</div><!-- /main -->

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/{{site.jquery}}/jquery.min.js'></script>
<script src="{{ site.url }}/js/main.js"></script>
<script src="{{ site.url }}/js/bootstrap.js"></script>
<script src="{{ site.url }}/js/app.js"></script>
<script src="{{ site.url }}/js/{{page.title | downcase}}.js"></script>