@use "sass:color";
@use "vars";

* {
  box-sizing: border-box;
}

body {
  background: vars.$background-color;
  color: vars.$text-color;
  font-family: vars.$sans-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.4em 0 0.5em;
  font-size: 1.4em;
}

p {
  margin: 0 0 1.3em;
}

a {
  color: vars.$link-color;

  &:hover {
    color: color.adjust(vars.$link-color, $lightness: 10%);
  }
}

strong {
  font-weight: bold;
}

code,
pre {
  font-family: vars.$mono-font-family;
  font-weight: vars.$mono-font-weight;
}

pre {
  background: vars.$text-color;
  border: 1px solid color.adjust(vars.$text-color, $lightness: -15%);
  color: vars.$light;
  display: block;
  margin: 1em 0;
  padding: 1em;
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 0.25em;
}

ol {
  margin-left: 1.25em;
}

input,
select,
textarea {
  border-radius: vars.$border-radius;
  font-family: vars.$mono-font-family;
  margin: 0;
  position: relative;
  width: 100%;
  color: vars.$text-color;
  border: 1px solid;
  display: block;
  accent-color: vars.$text-color;
}

input,
textarea {
  padding: 0.35em 0.5em;
}

select {
  padding: 0.35em 0.2em;
}

[type="color"] {
  padding: 0;
  height: 24px;
  cursor: pointer;
  min-width: 2em;
  background-color: transparent;
}

[type="checkbox"] {
  width: auto;
}

:focus {
  outline: vars.$accent auto 5px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
