@use "vars";

@mixin bp($point) {
  @if $point == big-with-columns {
    @media (width >= 900px) {
      @content;
    }
  } @else if $point == with-columns {
    @media (width >= 650px) {
      @content;
    }
  } @else if $point == no-columns {
    @media (width <= 650px) {
      @content;
    }
  }
}

%btn {
  background: vars.$accent;
  border: 0;
  border-radius: vars.$border-radius;
  cursor: pointer;
  font-family: vars.$sans-font-family;
  font-size: 1em;
  padding: 0.5em 1em;
  display: inline-flex;
  align-items: center;
  place-content: center space-around;
  gap: 6px;
  width: fit-content;
  color: vars.$text-color;
  text-decoration: none;

  svg {
    margin-left: -0.25em;
  }

  &:hover {
    color: vars.$text-color;
  }
}
