@import "vars";
@import "mixins";

.providers,
.cover {
  padding-left: 5%;
  padding-right: 5%;
}

.cover {
  padding-top: 3em;
  margin-bottom: 2em;
}

.providers {
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  display: grid;
}

.provider {
  background: $light;
  border: 0.5em solid transparent;
  border-radius: $border-radius;
  position: relative;
  text-decoration: none;
  display: block;

  &:hover {
    background: $accent;
    color: $light;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.provider-title {
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}
