@import "vars";
@import "mixins";

.providers,
.cover {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1200px;
}

.cover {
  padding-top: 3em;
  margin-bottom: 2em;

  @include bp(with-columns) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.providers {
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  display: grid;
}

.provider {
  background: $light;
  border-radius: $border-radius;
  position: relative;
  text-decoration: none;
  display: block;
  box-shadow: 0 0.5em 1em -1em $text-color;

  img {
    display: block;
    max-width: 100%;
    border-radius: $border-radius $border-radius 0 0;
  }
}

.provider-title {
  font-size: 1.2em;
  padding: 0.5em;
}
