@use "vars";

.title {
  a {
    display: flex;
    align-items: flex-start;
    align-content: center;
    text-decoration: none;
    color: vars.$text-color;

    &:hover {
      color: vars.$accent;
    }
  }
}
