@import "vars";

.title {
  a {
    display: flex;
    align-items: flex-start;
    align-content: center;
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $accent;
    }
  }
}
